<%= form_with(model: trail) do |form| %>
  <% if trail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trail.errors.count, "error") %> prohibited this trail from being saved:</h2>

      <ul>
        <% trail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :difficulty, style: "display: block" %>
    <%= form.number_field :difficulty %>
  </div>

  <div>
    <%= form.label :length, style: "display: block" %>
    <%= form.text_field :length %>
  </div>

  <div>
    <%= form.label :elevation_gain, style: "display: block" %>
    <%= form.number_field :elevation_gain %>
  </div>

  <div>
    <%= form.label :route_type, style: "display: block" %>
    <%= form.number_field :route_type %>
  </div>

  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :country, style: "display: block" %>
    <%= form.text_field :country %>
  </div>

  <div>
    <%= form.label :zip_code, style: "display: block" %>
    <%= form.text_field :zip_code %>
  </div>

  <div>
    <%= form.label :average_rating, style: "display: block" %>
    <%= form.text_field :average_rating %>
  </div>

  <div>
    <%= form.label :image_url, style: "display: block" %>
    <%= form.text_field :image_url %>
  </div>

  <div>
    <%= form.label :park_id, style: "display: block" %>
    <%= form.number_field :park_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
