<div id="<%= dom_id trail %>">
  <p>
    <strong>Name:</strong>
    <%= trail.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trail.description %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= trail.difficulty %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= trail.length %>
  </p>

  <p>
    <strong>Elevation gain:</strong>
    <%= trail.elevation_gain %>
  </p>

  <p>
    <strong>Route type:</strong>
    <%= trail.route_type %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= trail.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= trail.longitude %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= trail.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= trail.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= trail.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= trail.country %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= trail.zip_code %>
  </p>

  <p>
    <strong>Average rating:</strong>
    <%= trail.average_rating %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= trail.image_url %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= trail.creator_id %>
  </p>

  <p>
    <strong>Park:</strong>
    <%= trail.park_id %>
  </p>

</div>
